<div id="scrollable" class="table_container" [ngStyle]="{'background-color': background}">

  <div id="point" class="header" [ngStyle]="{'height': rowHeight}">

    <ul id="top_left_fixed" [ngStyle]="{'height': rowHeight}">
      <li [ngStyle]="{'height': rowHeight, 'background-color': topLeftBg}" *ngFor="let fixedName of data.fixedColumnNames" >
        <span [ngStyle]="{'line-height': rowHeight, 'color':color}">{{fixedName}}
          <i fa [name]="'repeat'" (click)="unfixColumn(fixedName)"></i>
        </span>
      </li>
    </ul>

    <div id="scrollable_x" class="scrollable_x" [ngStyle]="{'height': rowHeight, 'top': negRowHeight}">
      <ul [ngStyle]="{'height': rowHeight}">
        <li [ngStyle]="{'height': rowHeight, 'background-color': xyBg}" *ngFor="let fixedName of data.fixedColumnNames">
          <span [ngStyle]="{'line-height': rowHeight, 'color':color}">$nbsp;</span>
        </li>
        <li [ngStyle]="{'height': rowHeight, 'background-color': xyBg}" *ngFor="let scrollableName of data.scrollableColumnNames">
          <span [ngStyle]="{'line-height': rowHeight, 'color':color}">{{scrollableName}}
            <i fa [name]="'thumb-tack'" (click)="fixColumn(scrollableName)"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="data_rows" id="data_rows">
    <tree-view 
      class="data_row" 
      [ngStyle]="{'height': rowHeight}"
      *ngFor="let row of data.rows" 
      [row]="row" 
      [fixedColls]="data.fixedColumnNames" 
      [scrollColls]="data.scrollableColumnNames"
      [rowHeight]="rowHeight"
      [background]="background"
      [brighterBG]="topLeftBg"
      [mediumBG]="xyBg"
      [color]="color">
    </tree-view>   
  </div>
</div>