<div id="scrollable" class="table_container">

  <div id="point" class="header">

    <ul id="top_left_fixed">
      <li><span>Huyvaa</span></li>
      <li><span>Paivaa</span></li>
    </ul>

    <div id="scrollable_x" class="scrollable_x">
      <ul>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
      </ul>
    </div>
  </div>

  <div class="data_rows" id="data_rows">
   

    <div class="data_row">
      <ul>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
      </ul>
      <div class="scrollable_y">
        <ul>
          <li><span>Huyvaa</span></li>
          <li><span>Paivaa</span></li>
        </ul>
      </div>
    </div>

    <div class="data_row">
      <ul>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
      </ul>
      <div class="scrollable_y">
        <ul>
          <li><span>Huyvaa</span></li>
          <li><span>Paivaa</span></li>
        </ul>
      </div>
    </div>

    <div class="data_row">
      <ul>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
      </ul>
      <div class="scrollable_y">
        <ul>
          <li><span>Huyvaa</span></li>
          <li><span>Paivaa</span></li>
        </ul>
      </div>
    </div>

    <div class="data_row">
      <ul>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
      </ul>
      <div class="scrollable_y">
        <ul>
          <li><span>Huyvaa</span></li>
          <li><span>Paivaa</span></li>
        </ul>
      </div>
    </div>


    <div class="data_row">
      <ul>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
      </ul>
      <div class="scrollable_y">
        <ul>
          <li><span>Huyvaa</span></li>
          <li><span>Paivaa</span></li>
        </ul>
      </div>
    </div>

    <div class="data_row">
      <ul>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
      </ul>
      <div class="scrollable_y">
        <ul>
          <li><span>Huyvaa</span></li>
          <li><span>Paivaa</span></li>
        </ul>
      </div>
    </div>

    <div class="data_row">
      <ul>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
      </ul>
      <div class="scrollable_y">
        <ul>
          <li><span>Huyvaa</span></li>
          <li><span>Paivaa</span></li>
        </ul>
      </div>
    </div>

    <div class="data_row">
      <ul>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
      </ul>
      <div class="scrollable_y">
        <ul>
          <li><span>Huyvaa</span></li>
          <li><span>Paivaa</span></li>
        </ul>
      </div>
    </div>

    <div class="data_row">
      <ul>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
      </ul>
      <div class="scrollable_y">
        <ul>
          <li><span>Huyvaa</span></li>
          <li><span>Paivaa</span></li>
        </ul>
      </div>
    </div>

    <div class="data_row">
      <ul>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
      </ul>
      <div class="scrollable_y">
        <ul>
          <li><span>Huyvaa</span></li>
          <li><span>Paivaa</span></li>
        </ul>
      </div>
    </div>

    <div class="data_row">
      <ul>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
        <li><span>Vasya</span></li>
      </ul>
      <div class="scrollable_y">
        <ul>
          <li><span>Huyvaa</span></li>
          <li><span>Paivaa</span></li>
        </ul>
      </div>
    </div>
    
  </div>
</div>