<div id="scrollable" class="table_container">

  <div id="point" class="header">

    <ul id="top_left_fixed">
      <li *ngFor="let fixedName of data.fixedColumnNames"><span>{{fixedName}}</span></li>
    </ul>

    <div id="scrollable_x" class="scrollable_x">
      <ul>
        <li *ngFor="let fixedName of data.fixedColumnNames"><span>$nbsp;</span></li>
        <li *ngFor="let scrollableName of data.scrollableColumnNames"><span>{{scrollableName}}</span></li>
      </ul>
    </div>
  </div>

  <div class="data_rows" id="data_rows">
   

    <div class="data_row" *ngFor="let row of data.rows">
      <ul>
        <li *ngFor="let fixedName of data.fixedColumnNames"><span>&nbsp;</span></li>
        <li *ngFor="let scrollableName of data.scrollableColumnNames"><span>{{row[scrollableName]}}</span></li>
      </ul>
      <div class="scrollable_y">
        <ul>
          <li *ngFor="let fixedName of data.fixedColumnNames"><span>{{row[fixedName]}}</span></li>
        </ul>
      </div>
    </div>    
  </div>
</div>